@font-face {
  font-family: "SVN Avo";
  src: url(../../fonts/SVN-Avo.ttf);
}
@font-face {
  font-family: "SVN Avo";
  src: url(../../fonts/SVN-Avo-italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "SVN Avo";
  src: url(../../fonts/SVN-Avo-bold.ttf);
  font-weight: 700;
}
.tran {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
html {
  // overflow-x: hidden;
}
.hidden {
  overflow: hidden;
}
section {
  overflow: hidden;
}
body {
  font-family:  "SVN Avo", sans-serif;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 16px;
  position: relative;
  @include mw-768 {
    font-size: 15px;
  }
}

.noscroll {
  overflow: hidden;
  position: relative;
}
 
p {
 
}
.container {
  max-width: 1350px;
}
section {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
 
.desktop {
  // display: block;
  @include mw-768 {
    display: none;
  }
}
.mobile {
  display: none;
  @include mw-768 {
    display: block;
  }
}
a {
  text-decoration: none;
}
