$main: #1B91AD;
$secondary: #1B91AD;
$title: #1B3764;
$text-1: #333;

$bg: #F4F8FF;
$border: #f4f8ff42;
$white: #ffff;
.text-main {
  color: $main !important;
}
.text-secondary {
  color: $secondary !important;
}
.text-1 {
  color: $text-1 !important;
}

.text-title {
  color: $title !important;
}
