
.hover-img {
  figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      &::before {
        -webkit-animation: shine 0.75s;
        animation: shine 0.75s;
      }
    }
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.btn-coming {
  position: relative;
  display: block;
  &::before {
    content: "coming soon";
    position: absolute;
    bottom: -20px;
    color: $main;
    left: 0;
    font-size: 14px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
  }
  &:hover {
    &::before {
      bottom: -30px;
      opacity: 1;
    }
  }
}
