.about {
  padding: 80px 0;
  background-color: $bg;
  @include mw-768 {
    padding: 40px 0;
  }
  .section-title {
    text-align: left;
    @include mw-768 {
      text-align: center;
    }
    .sub {
      font-size: 20px;
      letter-spacing: 5px;
      font-style: italic;
    }
  }
  &-content {
    position: relative;
    @include mw-768 {
      margin-bottom: 50px;
    }
    &::before {
      content: url(../images/home/bg-about.png);
      position: absolute;
      left: -80px;
      bottom: -40px;
      z-index: -1;
      @include mw-768 {
        left: 0px;
      }
    }
    p {
      line-height: 26px;
      @include mw-768 {
        text-align: center;
      }
    }
    .gr-btn {
      justify-content: start;
      @include mw-768 {
        display: flex;
        justify-content: center;
      }
    }
  }
  &-video {
    position: relative;
    img {
      width: 100%;
    }
    .play {
      position: absolute;
      top: 50%;
      left: 50% !important;
      transform: translate(-50%, -50%);
      z-index: 1000;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: none;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border-radius: 100rem;
    }
  }
}

.ul-check {
  list-style: none;
  padding: 0;
  li {
    padding: 4px 0;
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
}
.mission {
  &-content {
    padding: 40px;

    @include mw-768 {
      padding: 40px 16px;
    }
  }
  &-1 {
    background: linear-gradient(0deg, #1b81ca 0%, $main 100%);
    width: 50%;
    padding-left: 11%;
    position: relative;
    &::before {
      content: "";
      background: url(../images/about/tn.svg);
      background-size: cover;
      position: absolute;
      z-index: 3;
      bottom: 50px;
      right: 50px;
      width: 300px;
      height: 300px;
      opacity: 0.1;
    }
    @include mw-768 {
      width: 100%;
      padding-left: 16px;
    }
  }
  &-2 {
    background: linear-gradient(180deg, #ea5569 27.35%, $secondary 100%);
    padding-right: 11%;
    position: relative;
    width: 50%;
    &::before {
      content: "";
      background: url(../images/about/sm.svg);
      background-size: cover;
      position: absolute;
      top: 50px;
      z-index: 3;
      right: 50px;
      width: 300px;
      height: 300px;
      opacity: 0.1;
    }
    @include mw-768 {
      padding-right: 16px;
      width: 100%;
    }
  }
  &-bg {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    @include mw-768 {
    }
  }
  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
  }
  &-title {
    display: flex;
    margin-bottom: 24px;
    position: relative;
    z-index: 4;
    span {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      text-transform: uppercase;
      color: $white;
      margin-left: 16px;
    }
    @include mw-768 {
      img {
        height: 70px;
      }
      span {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
  h5 {
    color: $white;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    z-index: 4;
  }
  p {
    color: $white;
    font-weight: 300;
    position: relative;
    z-index: 4;
  }
}
.paradigm {
  padding: 80px 0 120px;
  @include mw-768 {
    padding: 40px 0;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    flex-wrap: wrap;
    align-items: center;
    @include mw-768 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 24px;
    color: $white;
    height: 100%;
    h5 {
      text-align: center;
      text-transform: uppercase;
    }
    p {
      text-align: center;
      font-weight: 300;
    }
    @include mw-768 {
      padding: 16px;
      gap: 16px;
      img {
        width: 55px;
      }
    }
  }
  &-main {
    background-color: $main;
    &-2 {
      @include mw-768 {
        background-color: $secondary;
      }
    }
  }
  &-secondary {
    background-color: $secondary;
    &-2 {
      @include mw-768 {
        background-color: $main;
      }
    }
  }
}
