.arcontactus-widget.right.arcontactus-message {
  right: 20px;
}
.arcontactus-widget.right.arcontactus-message {
  bottom: 20px;
}
.arcontactus-widget .arcontactus-message-button .pulsation {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.arcontactus-widget.md .arcontactus-message-button,
.arcontactus-widget.md.arcontactus-message {
  width: 60px;
  height: 60px;
}
.arcontactus-widget {
  opacity: 0;
  transition: 0.2s opacity;
}
.arcontactus-widget * {
  box-sizing: border-box;
}
.arcontactus-widget.left.arcontactus-message {
  left: 20px;
  right: auto;
}
.arcontactus-widget.left .arcontactus-message-button {
  right: auto;
  left: 0;
}
.arcontactus-widget.left .arcontactus-prompt {
  left: 80px;
  right: auto;
  transform-origin: 0 50%;
}
.arcontactus-widget.left .arcontactus-prompt:before {
  border-right: 8px solid #fff;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  right: auto;
  left: -15px;
}
.arcontactus-widget.left .messangers-block {
  right: auto;
  left: 0;
  -webkit-transform-origin: 10% 105%;
  -ms-transform-origin: 10% 105%;
  transform-origin: 10% 105%;
}
.arcontactus-widget.left .callback-countdown-block {
  left: 0;
  right: auto;
}
.arcontactus-widget.left .callback-countdown-block::before,
.arcontactus-widget.left .messangers-block::before {
  left: 25px;
  right: auto;
}
.arcontactus-widget.md .callback-countdown-block,
.arcontactus-widget.md .messangers-block {
  bottom: 70px;
}
.arcontactus-widget.md .arcontactus-prompt {
  bottom: 5px;
}
.arcontactus-widget.md.left .callback-countdown-block:before,
.arcontactus-widget.md.left .messangers-block:before {
  left: 21px;
}
.arcontactus-widget.md.left .arcontactus-prompt {
  left: 70px;
}
.arcontactus-widget.md.right .callback-countdown-block:before,
.arcontactus-widget.md.right .messangers-block:before {
  right: 21px;
}
.arcontactus-widget.md.right .arcontactus-prompt {
  right: 70px;
}
.arcontactus-widget.md .arcontactus-message-button .pulsation {
  width: 74px;
  height: 74px;
}
.arcontactus-widget.md .arcontactus-message-button .callback-state,
.arcontactus-widget.md .arcontactus-message-button .icons {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
}
.arcontactus-widget.sm .arcontactus-message-button,
.arcontactus-widget.sm.arcontactus-message {
  width: 50px;
  height: 50px;
}
.arcontactus-widget.sm .callback-countdown-block,
.arcontactus-widget.sm .messangers-block {
  bottom: 60px;
}
.arcontactus-widget.sm .arcontactus-prompt {
  bottom: 0;
}
.arcontactus-widget.sm.left .callback-countdown-block:before,
.arcontactus-widget.sm.left .messangers-block:before {
  left: 16px;
}
.arcontactus-widget.sm.left .arcontactus-prompt {
  left: 60px;
}
.arcontactus-widget.sm.right .callback-countdown-block:before,
.arcontactus-widget.sm.right .messangers-block:before {
  right: 16px;
}
.arcontactus-widget.sm.right .arcontactus-prompt {
  right: 60px;
}
.arcontactus-widget.sm .arcontactus-message-button .pulsation {
  width: 64px;
  height: 64px;
}
.arcontactus-widget.sm .arcontactus-message-button .icons {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
}
.arcontactus-widget.sm .arcontactus-message-button .static {
  margin-top: -16px;
}
.arcontactus-widget.sm .arcontactus-message-button .callback-state {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
}
.arcontactus-widget.active {
  opacity: 1;
}
.arcontactus-widget .icons.hide,
.arcontactus-widget .static.hide {
  opacity: 0;
  transform: scale(0);
}
.arcontactus-widget.arcontactus-message {
  z-index: 10000;
  right: 20px;
  bottom: 20px;
  position: fixed !important;
  height: 70px;
  width: 70px;
}
.arcontactus-widget .arcontactus-message-button {
  width: 70px;
  position: absolute;
  height: 70px;
  right: 0;
  background-color: red;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border: solid 1px #fff;

}
.arcontactus-widget .arcontactus-message-button p {
  font-family: Ubuntu, Arial, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
  margin: 0;
}
.arcontactus-widget .arcontactus-message-button .pulsation {
  width: 84px;
  height: 84px;
  background-color: red;
  border-radius: 50px;
  position: absolute;
  left: -7px;
  top: -7px;
  z-index: -1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation: arcontactus-pulse 2s infinite;
  animation: arcontactus-pulse 2s infinite;
}
.arcontactus-widget .arcontactus-message-button .icons {
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
}
.arcontactus-widget .arcontactus-message-button .static {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -19px;
  margin-left: -26px;
  width: 52px;
  height: 52px;
  text-align: center;
}
.arcontactus-widget .arcontactus-message-button .static img {
  display: inline;
}
.arcontactus-widget .arcontactus-message-button .static svg {
  width: 24px;
  height: 24px;
  color: #fff;
}
.arcontactus-widget .arcontactus-message-button.no-text .static {
  margin-top: -12px;
}
.arcontactus-widget .pulsation:nth-of-type(2n) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.arcontactus-widget .pulsation.stop {
  -webkit-animation: none;
  animation: none;
}
.arcontactus-widget .icons-line {
  top: 10px;
  left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: cubic-bezier(0.13, 1.49, 0.14, -0.4);
  -o-transition: cubic-bezier(0.13, 1.49, 0.14, -0.4);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  height: 24px;
  transition: 0.2s all;
}
.arcontactus-widget .icons,
.arcontactus-widget .static {
  transition: 0.2s all;
}
.arcontactus-widget .icons-line.stop {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.arcontactus-widget .icons-line span {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: red;
}
.arcontactus-widget .icons-line span i,
.arcontactus-widget .icons-line span svg {
  width: 24px;
  height: 24px;
}
.arcontactus-widget .icons-line span i {
  display: block;
  font-size: 24px;
  line-height: 24px;
}
.arcontactus-widget .icons-line img,
.arcontactus-widget .icons-line span {
  margin-right: 40px;
}
.arcontactus-widget .icons.hide .icons-line {
  transform: scale(0);
}
.arcontactus-widget .icons .icon:first-of-type {
  margin-left: 0;
}
.arcontactus-widget .arcontactus-close {
  color: #fff;
}
.arcontactus-widget .arcontactus-close svg {
  -webkit-transform: rotate(180deg) scale(0);
  -ms-transform: rotate(180deg) scale(0);
  transform: rotate(180deg) scale(0);
  -webkit-transition: ease-in 0.12s all;
  -o-transition: ease-in 0.12s all;
  transition: ease-in 0.12s all;
  display: block;
}
.arcontactus-widget .arcontactus-close.show-messageners-block svg {
  -webkit-transform: rotate(0) scale(1);
  -ms-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}
.arcontactus-widget .arcontactus-prompt,
.arcontactus-widget .messangers-block {
  background: center no-repeat #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  width: 235px;
  position: absolute;
  bottom: 80px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 14px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 7px;
  -webkit-transform-origin: 80% 105%;
  -ms-transform-origin: 80% 105%;
  transform-origin: 80% 105%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: ease-out 0.12s all;
  -o-transition: ease-out 0.12s all;
  transition: ease-out 0.12s all;
  z-index: 10000;
}
.arcontactus-widget .arcontactus-prompt:before,
.arcontactus-widget .messangers-block:before {
  position: absolute;
  bottom: -7px;
  right: 25px;
  left: auto;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  border-left: 8px solid transparent;
  content: '';
}
.arcontactus-widget .arcontactus-prompt.show-messageners-block,
.arcontactus-widget .messangers-block.show-messageners-block {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.arcontactus-widget .arcontactus-prompt {
  color: #787878;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  width: auto;
  bottom: 10px;
  right: 80px;
  white-space: nowrap;
  padding: 18px 20px 14px;
}
.arcontactus-widget .arcontactus-prompt:before {
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 8px solid transparent;
  bottom: 16px;
  right: -15px;
}
.arcontactus-widget .arcontactus-prompt.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.arcontactus-widget .arcontactus-prompt .arcontactus-prompt-close {
  position: absolute;
  right: 6px;
  top: 6px;
  cursor: pointer;
  z-index: 100;
  height: 14px;
  width: 14px;
  padding: 2px;
}
.arcontactus-widget .arcontactus-prompt .arcontactus-prompt-close svg {
  height: 10px;
  width: 10px;
  display: block;
}
.arcontactus-widget .arcontactus-prompt .arcontactus-prompt-typing {
  border-radius: 10px;
  display: inline-block;
  left: 3px;
  padding: 0;
  position: relative;
  top: 4px;
  width: 50px;
}
.arcontactus-widget .arcontactus-prompt .arcontactus-prompt-typing > div {
  position: relative;
  float: left;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #ccc;
  margin: 0 2px;
  -webkit-animation: arcontactus-updown 2s infinite;
  animation: arcontactus-updown 2s infinite;
}
.arcontactus-widget
  .arcontactus-prompt
  .arcontactus-prompt-typing
  > div:nth-child(2) {
  animation-delay: 0.1s;
}
.arcontactus-widget
  .arcontactus-prompt
  .arcontactus-prompt-typing
  > div:nth-child(3) {
  animation-delay: 0.2s;
}
.arcontactus-widget .messangers-block.sm .messanger {
  padding-left: 50px;
  min-height: 44px;
}
.arcontactus-widget .messangers-block.sm .messanger span {
  height: 32px;
  width: 32px;
  margin-top: -16px;
}
.arcontactus-widget .messangers-block.sm .messanger span svg {
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.arcontactus-widget .messanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  width: 100%;
  padding: 8px 20px 8px 60px;
  position: relative;
  min-height: 54px;
  text-decoration: none;
}
.arcontactus-widget .messanger:hover {
  background-color: #eee;
}
.arcontactus-widget .messanger:before {
  background-repeat: no-repeat;
  background-position: center;
}
.arcontactus-widget .messanger.facebook span {
  background: #0084ff;
}
.arcontactus-widget .messanger.viber span {
  background: #7c529d;
}
.arcontactus-widget .messanger.telegram span {
  background: #2ca5e0;
}
.arcontactus-widget .messanger.skype span {
  background: #31c4ed;
}
.arcontactus-widget .messanger.email span {
  background: #ff8400;
}
.arcontactus-widget .messanger.contact span {
  background: #7eb105;
}
.arcontactus-widget .messanger.call-back span {
  background: #54cd81;
}
.arcontactus-widget .messanger span {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -20px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0084ff;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.arcontactus-widget .messanger span i,
.arcontactus-widget .messanger span svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}
.arcontactus-widget .messanger span i {
  font-size: 24px;
  line-height: 24px;
}
.arcontactus-widget .messanger p {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}
@-webkit-keyframes arcontactus-pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@media (max-width: 468px) {
  .arcontactus-widget.opened.arcontactus-message,
  .arcontactus-widget.opened.left.arcontactus-message {
    width: auto;
    right: 20px;
    left: 20px;
  }
}
@keyframes arcontactus-updown {
  0%,
  100%,
  43% {
    transform: translate(0, 0);
  }
  25%,
  35% {
    transform: translate(0, -10px);
  }
}
@-webkit-keyframes arcontactus-updown {
  0%,
  100%,
  43% {
    transform: translate(0 0);
  }
  25%,
  35% {
    transform: translate(-10px 0);
  }
}
@keyframes arcontactus-pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes arcontactus-show-stat {
  0%,
  100%,
  20%,
  85% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  21%,
  84% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes arcontactus-show-stat {
  0%,
  100%,
  20%,
  85% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  21%,
  84% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes arcontactus-show-icons {
  0%,
  100%,
  20%,
  85% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  21%,
  84% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes arcontactus-show-icons {
  0%,
  100%,
  20%,
  85% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  21%,
  84% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
