@for $i from 10 through 50 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}
.section-title {
  text-align: center;
  margin-bottom: 16px;
  span {
    letter-spacing: 0.0025em;
    font-weight: 700;
    font-size: 48px;
    color: $title;
    text-transform: uppercase;
    line-height: 54px;
    @include mw-768 {
      white-space: normal;
      line-height: 30px;
      font-size: 28px;
    }
  }
}
.section-content {
  line-height: 21px;
  letter-spacing: 0.0015em;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  @include mw-768 {
    max-width: 100%;

    text-align: center;
  }
}
.btn {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 5px 24px;
  border-radius: 8px;
  background-color: transparent;
  position: relative;
  z-index: 1;

  @extend .tran;
  @include mw-768 {
    padding: 10px 16px;
  }
  &-main {
    color: #fff;
    background-color: $main !important;
    &:hover {
      background-color: $secondary !important;
      color: #fff;
    }
  }
  &-secondary {
    background-color: $secondary !important;
    &:hover {
      background-color: $main !important;
    }
  }
  &-border {
    background-color: transparent;
    color: $secondary;
    border: solid 1px $secondary;
    &:hover {
      border: solid 1px $main;
      color: #fff;
      background-color: $main !important;
    }
  }
  &-login {
    background-color: $secondary;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
.gr-btn {
  display: flex;
  justify-content: center;
  .btn + .btn {
    margin-left: 24px;
  }
}
.breadcrumb {
  height: 380px;
  background: linear-gradient(90deg, #74c9c1 0%, #dd9c46 48.05%, #ec4d6d 100.08%);
  overflow: hidden;
  position: relative;
  justify-content: center;
  @extend .tran;
  margin-bottom: 0;
  &-scroll {
    height: 255px;
  }
  @include mw-768 {
    height: 200px;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
  }
 
  &-inner {
    // transform: skewX(-20deg);
    display: flex;
    height: 100%;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    position: absolute;
    
    h1 {
      color: $white;
      text-transform: uppercase;
      // text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      @include mw-768 {
        font-size: 22px;
      }
    }
    a,
    span {
      color: $white;
      margin: 0 8px;
      white-space: nowrap;
    }
    span {
      @include mw-768 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
        max-width: 100px;
      }
    }
  }
}
