.footer {
  &-inner {
    background-color: $main;
    position: relative;
    z-index: 3;
    overflow: hidden;
 
    padding: 60px 0;
    color: #fff;
    @include mw-1100 {
      padding: 50px 0 80px;
    
    }
  }

  .container {
    height: 100%;
    max-width: 1400px;
  }
  &-row {
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    // min-height: 500px;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 2;

    @include mw-1100 {
      flex-direction: column;
    }
    @include mw-1100 {
      padding-right: 0;
    }
    .social {
      display: flex;
      flex-wrap: wrap;
      a {
        display: flex;
        background-color: #0c0024;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 0 10px;
        color: $main;
      }
      @include mw-768 {
        a {
          margin: 5px;
        }
      }
    }
    .logo {
      padding-right: 30px;
      img {
        max-width: 150px;
        width: 100%;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 14px;
        font-weight: 400;
      }
      @include mw-768 {
        max-width: 100%;
      }
    }
    .info {
      padding-right: 30px;

      @include mw-768 {
        max-width: 100%;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      @include mw-768 {
        padding: 0;
      }
      li {
        font-size: 16px;
        color: #fff;
        &:first-child {
          font-weight: 600;
          margin-bottom: 10px;
          margin-top: 30px;
        }
        a {
          color: #fff;
        }
      }
    }
  
  }
  .img {
    overflow: hidden;
    border-radius: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
