#nav {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 16px 0;
  transition: 0.5s;
  border-bottom: solid 1px $border;
  background: rgba(23, 37, 69, 0.3);
  @include mw-768 {
    padding: 0.25rem 0;
  }
  .container {
    // max-width: 1600px;
  }
  .nav-inner {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .logo {
    img {
      height: 60px;
    }
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    @include mw-768 {
      font-size: 16px;
    }
  }
  .spaced {
    align-items: center;
    display: flex;

    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    position: relative;
    width: auto;

    @include mw-768 {
      align-content: center;
      align-items: center;
      background: $main;
      display: flex;
      flex-flow: row wrap;
      height: 100%;
      justify-content: center;
      left: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
      transform: translateX(100%);
      -webkit-transition: all 0.1s ease-in-out 0s;
      -moz-transition: all 0.1s ease-in-out 0s;
      -ms-transition: all 0.1s ease-in-out 0s;
      -o-transition: all 0.1s ease-in-out 0s;
      transition: all 0.1s ease-in-out 0s;
      width: 100%;
    }
    li {
      a {
        padding: 0 24px;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
      }
      .btn {
        font-size: 16px;
        padding: 10px 80px;
        display: none;
        @include mw-768 {
          font-size: 1.75rem;
          display: block;
        }
      }
      @include mw-768 {
        margin-bottom: 0.625rem;
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
        text-align: center;
        width: 100%;
        a {
          color: #eeeee4;
          font-size: 1.75rem;
          font-weight: 700;
        }
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    .dropdown {
      margin-right: 10px;
      img {
        width: 25px;
        border-radius: 3px;
      }
      &-item {
        font-size: 14px;
      }
    }
    @include mw-768 {
      display: none;
    }
  }
}
#menuToggle:checked + #mtoggle + .spaced {
  @include mw-768 {
    pointer-events: auto;
    transform: translateX(0);
    transition: all 0.2s ease-in-out 0s;
  }
}
#nav.slide-up {
  transform: translateY(-100%);
}
#menuToggle {
  filter: alpha(opacity=0);
  height: 0;
  line-height: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}
#menuToggle,
#mtoggle {
  -webkit-touch-callout: none;
  display: none;
  height: 3rem;
  margin-left: auto;
  margin-right: 0.625rem;
  position: relative;
  width: 2rem;
  z-index: 101;
  @include mw-768 {
    display: block;
  }
}
#mtoggle span {
  background-color: $main;
  display: block;
  height: 0.125rem;
  width: 100%;
  &:first-child {
    margin-top: 0.875rem;
  }
  &:not(:last-child) {
    margin-bottom: 0.375rem;
  }
}

#menuToggle:checked + #mtoggle span {
  background-color: #eeeee4;
}
#menuToggle:checked + #mtoggle span:nth-child(odd) {
  filter: alpha(opacity=0);
  opacity: 0;
}
