.ecosystem {
  background-color: $bg;
  padding: 80px 0;
  padding-bottom: 150px;

  @include mw-768 {
    padding: 40px 0;
  }
  .row {
    align-items: center;
  }
  .section-title {
    text-align: start;
  }
  .section-content {
    text-align: start;
    max-width: 100%;
  }
  &-icon {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    @extend.tran;
    padding: 10px;
    img {
      width: 100%;
    }
    @include mw-768 {
      width: 48px;
      height: 48px;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    @extend.tran;
    @include mw-768 {
    }
    h3 {
      color: $title;
      font-weight: 600;
      font-size: 18px;
      display: flex;
      align-items: center;
      @include mw-768 {
        font-size: 16px;
      }
    }
    p {
      margin-bottom: 0;
      @include mw-768 {
        font-size: 14px;
      }
    }
    &:hover {
      transform: translateX(6px);
      .ecosystem-icon {
      }
      h3 {
        color: $main;
      }
    }
  }
}
.ability {
  padding: 80px 0;
  @include mw-768 {
    padding: 40px 0;
  }

  .technology {
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      @include mw-840 {
        justify-content: start;
        position: relative;
      }
      li {
        padding: 0 2px;
        .tablink {
          background-color: #f2f2f2;
          border: none;
          padding: 10px 24px;
          width: 100%;
          text-align: left;
          line-height: 30px;
          border-radius: 8px 8px 0px 0px;
          white-space: nowrap;
        }
      }
    }
    &--list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      padding: 16px;
      gap: 16px;
      border: 1px solid #ff8f57;
      width: 100%;
      border-radius: 16px;
      @include mw-768 {
        width: 100%;
        padding: 0;
      }
    }
    &--item {
      padding: 10px;
      min-width: 120px;
      height: 60px;
      text-align: center;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      &:hover {
        background-color: $white;
        @extend .tran;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
      }
    }
  }
}
.persslidesec {
  // background-color: $bg;
  padding: 100px 0;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  .imgscrollglry {
    overflow: hidden;
    // height: 400px;
  }
  .imgglrywrap {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    @include mw-768 {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
    .item {
      width: 250px;
      height: 90px;
      padding: 20px;
      background-color: #fff;
      --aug-border: 1px;
      --aug-inlay-all: 0;
      --aug-border-bg: #74c5be;
      --aug-inlay-bg: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include mw-768 {
        width: 180px;
      }
    }
  }
}
.project {
  padding: 50px;
  @include mw-768 {
    padding: 16px;
  }
  &-inner {
    background: linear-gradient(90deg, #1b91ad 0.78%, #6cbcb9 100%);
    padding: 50px 0;
    border-radius: 16px;
    @include mw-768 {
      padding: 16px 0;
    }
  }
  .gr-btn {
    justify-content: flex-start;
    @include mw-768 {
      .btn {
        font-size: 12px;
      }
    }
    .btn-border {
      border-color: #fff;
      color: #fff;
    }
  }
  .slick-dots {
    bottom: -30px;
  }
  .slick-arrow {
    display: none !important;
  }
  &-item {
    position: relative;
    display: flex !important;
    flex-wrap: wrap;
    .project-img {
      width: 50%;
      height: 200px;
      overflow: hidden;
      border-radius: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include mw-768 {
        width: 100%;
      }
    }
    .project-content {
      width: 50%;
      padding: 16px;
      @include mw-768 {
        width: 100%;
      }
      .inner {
        color: #fff;
        width: 100%;
        h5 {
          font-size: 24px;
          font-weight: 700;
        }
        p {
          @extend .tran;
        }
      }
    }
    &:hover {
      h5 {
        // color: $secondary;
      }
      .project-content .inner p {
        overflow: auto;
        display: block;
        text-overflow: initial;
      }
    }
  }
}
.client {
  padding-top: 100px;
  &-list {
    .slick-track {
      padding: 10px 0;
    }
  }
  .slick-arrow {
    display: none !important;
  }
  .slick-dots {
    bottom: 0px;
  }
  &-item {
    position: relative;
    padding: 10px 15px;
    height: 100px;
    border-radius: 8px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .tran;
    img {
      width: 100%;
    }
    &:hover {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    }
    @include mw-768 {
      padding: 16px;
      height: 80px;
    }
  }
}

.blog {
  padding: 70px 0;
  @include mw-768 {
    padding: 40px 0;
  }
  .slick-slide {
    padding: 8px;
  }
  .slick-arrow {
    display: none !important;
  }
  .item-post {
    border: 1px solid #f2f2f2;
    border-radius: 14px;
    padding: 20px;
    // margin: 8px;
    background-color: #ffffff;
    height: 100%;
    @include mw-768 {
      max-width: 264px;
    }
    &-img {
      display: block;
      max-height: 200px;
      overflow: hidden;
      margin-left: -20px;
      margin-right: -20px;
      margin-top: -20px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      img {
        width: 100%;
      }
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
      margin-bottom: 0;
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        color: $text-1;
      }
    }
    p {
      margin-bottom: 0;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
      color: $text-1;
      line-height: 1.5em;
      min-height: 4.5em;
    }
    .btn {
      margin-left: auto;
      margin-top: 16px;
      img {
        margin-left: 10px;
      }
    }
    &:hover {
      h3 {
        a {
          color: $main;
          @extend .tran;
        }
      }
    }
  }
}
