
@keyframes pulse-main-btn {
  0%,
  20%,
  40%,
  60%,
  100% {
    transform: scale(0.97);
  }
  10%,
  30%,
  50% {
    transform: scale(1.03);
  }
}
@keyframes blesk-main-btn {
  0%,
  60% {
    transform: translateX(-100%);
  }
  85%,
  100% {
    transform: translateX(100%);
  }
}
@keyframes rotate-money {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse-stars {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes pulse-stars-2 {
  0%,
  100% {
    transform: scale(0.97);
  }
  50% {
    transform: scale(1.03);
  }
}
@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes swimming-on-air {
  0%,
  100% {
    transform: translate(0%, 0%);
  }
  20% {
    transform: translate(3%, 3%);
  }
  40% {
    transform: translate(3%, -3%);
  }
  60% {
    transform: translate(-3%, 3%);
  }
  80% {
    transform: translate(-3%, -3%);
  }
}
@keyframes jumping-on-trampolines {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(2%);
  }
}
@keyframes move-bike {
  0%,
  100% {
    transform: translateX(-2vmax) rotate(-2deg);
  }
  50% {
    transform: translateX(2vmax) rotate(2deg);
  }
}
@keyframes move-fish {
  0% {
    opacity: 0;
    left: 0;
    transform: translateY(0%);
  }
  10% {
    opacity: 1;
    left: 10%;
    transform: translateY(0%);
  }
  25% {
    opacity: 1;
    left: 25%;
    transform: translateY(30%);
  }
  50% {
    opacity: 1;
    left: 50%;
    transform: translateY(0%);
  }
  75% {
    opacity: 1;
    left: 75%;
    transform: translateY(-30%);
  }
  90% {
    opacity: 1;
    left: 90%;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    left: 100%;
    transform: translateY(0%);
  }
}
@keyframes move-bubles {
  0% {
    opacity: 0;
    bottom: 0;
    transform: translateX(0%);
  }
  10% {
    opacity: 1;
    bottom: 10%;
    transform: translateX(0%);
  }
  25% {
    opacity: 1;
    bottom: 25%;
    transform: translateX(30%);
  }
  50% {
    opacity: 1;
    bottom: 50%;
    transform: translateX(0%);
  }
  75% {
    opacity: 1;
    bottom: 75%;
    transform: translateX(-30%);
  }
  90% {
    opacity: 1;
    bottom: 90%;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    bottom: 100%;
    transform: translateX(0%);
  }
}
@keyframes shoes-swimming {
  0%,
  50%,
  100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(2%);
  }
  75% {
    transform: translateY(-2%);
  }
}
@keyframes move-bg-threes {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-100vw);
  }
}
@keyframes move-app-active {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
@keyframes confetty {
  0% {
    opacity: 0;
    top: 0%;
  }
  10% {
    opacity: 1;
    top: 10%;
  }
  90% {
    opacity: 1;
    top: 90%;
  }
  100% {
    opacity: 0;
    top: 100%;
  }
}
@keyframes bles-stars {
  0%,
  100% {
    opacity: 0;
    transform: scale(0);
  }
  40%,
  60% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes move-money-arrow {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes walk {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
@keyframes walk-hand {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(1%, 1%) rotate(1deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  75% {
    transform: translate(-1%, 1%) rotate(-1deg);
  }
}
@keyframes marque {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes marque-back {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes move-tramps {
  0%,
  17% {
    transform: translateX(0%);
  }
  34%,
  51% {
    transform: translateX(100%);
  }
  68%,
  85% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(300%);
  }
}
@keyframes jump-on-tramps {
  0%,
  100% {
    transform: translate(-6%, -3%);
  }
  50% {
    transform: translate(-6%, 3%);
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-12deg);
  }
  20% {
    transform: rotate(7deg);
  }
  25% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(4deg);
  }
  35% {
    transform: rotate(-2deg);
  }
  40%,
  to {
    transform: rotate(0);
  }
}

@keyframes color {
  0% {
    background: #74C5BE;
  }
  
  50% {
    background: #DF924B;
  }
  
  100% {
    background: #74C5BE;
  }
}