.hero {
  @include mw-768{
    margin-top: 70px;
  }
  &-item {
    &-inner {
      position: relative;
      // max-height: 650px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        z-index: 1;
      }
    }
    .content {
      position: absolute;
      z-index: 2;
      bottom: 50%;
      left: 0;
      right: 0;
      h1 {
        text-align: center;
        font-weight: 700;
        color: #fff;
        font-size: 80px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        @include mw-768{
          font-size: 40px;
        }
      }
    }
  }
  .slick-track {
    .slick-slide {
    }
  }
  .slick-arrow {
    background-color: #fff;
    height: 50px;
    width: 40px;
    z-index: 10;
    opacity: 0.2;
    border-radius: 5px;
  }

  &:hover {
    .slick-prev,
    .slick-next {
      opacity: 1;
    }
    .slick-next {
      @include mw-768 {
      }
    }
    .slick-prev {
      @include mw-768 {
      }
    }
  }
}
