.service {
  background-color: $bg;

  position: relative;
  z-index: 3;
  padding: 100px 0;
  &-inner {
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    @include mw-768 {
      padding: 16px;
    }
  }
  .container {
    max-width: 1600px;
  }
  .gr-btn {
    justify-content: flex-start;
    @include mw-768 {
      .btn {
        font-size: 12px;
      }
    }
  }
  &-item {
    .row {
      align-items: center;
      .service-img {
        padding-left: 40px;
        overflow: hidden;
        @include mw-768 {
          padding-left: 0;
        }
        img{
          border-radius: 10px;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    &:nth-child(2n + 1) {
      .row {
        flex-direction: row-reverse;
        .service-img {
          padding-left: 0;
          padding-right: 40px;
          @include mw-768 {
            padding-right: 0  
              ;
          }
        }
      }
    }
    h2 {
      text-transform: uppercase;
      font-weight: 700;
      @include mw-768 {
        font-size: 22px;
      }
    }
    .gr-btn {
      justify-content: flex-start;
    }
  }
  &-img {
    @include mw-768 {
      margin: 30px 0;
    }
    img {
      width: 100%;
    }
  }
}
